@charset "UTF-8";

.principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

.logo{
    margin: 40px;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container{
    background-image: linear-gradient(to right, #13678A, #45C4B0, #9AEBA3);
    border-radius: 20px;
    padding: 65px;
    margin: 0px;
    width: 100%;
    max-width: 600px;
}

.form{
    padding: 20px;
}

.form-content{
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.form-content label{
    display: flex;
    margin-bottom: 6px;
}

.form-content input{
    background-color: white;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid;
}

.form button{
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid;
    font-size: 12px;
}
